# Gui Heart Types
public net.minecraft.client.gui.Gui$HeartType
# Brewing Stand
public net.minecraft.world.inventory.BrewingStandMenu$PotionSlot
public net.minecraft.world.level.block.entity.BrewingStandBlockEntity getItems()Lnet/minecraft/core/NonNullList;
# Evoker Fangs
public net.minecraft.world.entity.projectile.EvokerFangs readAdditionalSaveData(Lnet/minecraft/nbt/CompoundTag;)V
public net.minecraft.world.entity.projectile.EvokerFangs addAdditionalSaveData(Lnet/minecraft/nbt/CompoundTag;)V
# Note Block
public net.minecraft.world.level.block.state.properties.NoteBlockInstrument$Type
# Armor Trim model data
public net.minecraft.data.models.ItemModelGenerators$TrimModelData
# Fog rendering
public net.minecraft.client.renderer.FogRenderer$MobEffectFogFunction
public net.minecraft.client.renderer.FogRenderer$FogData
public net.minecraft.client.renderer.FogRenderer$FogData start
public net.minecraft.client.renderer.FogRenderer$FogData end
public net.minecraft.client.renderer.FogRenderer$FogData mode
# Beacon
public net.minecraft.world.level.block.entity.BeaconBlockEntity levels
# Ocelot
public net.minecraft.world.entity.animal.Ocelot setTrusting(Z)V
# Parrot (Model)
public net.minecraft.client.model.ParrotModel prepare(Lnet/minecraft/client/model/ParrotModel$State;)V
public net.minecraft.client.model.ParrotModel setupAnim(Lnet/minecraft/client/model/ParrotModel$State;IFFFFF)V
# LivingEntity
public net.minecraft.world.entity.LivingEntity addEatEffect(Lnet/minecraft/world/food/FoodProperties;)V
# Spawn Eggs
public net.minecraft.world.item.SpawnEggItem BY_ID
# Block forme conditions
public net.minecraft.world.level.block.Blocks never(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;)Z
public net.minecraft.world.level.block.Blocks never(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/entity/EntityType;)Ljava/lang/Boolean;
public net.minecraft.world.level.block.Blocks always(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;)Z
public net.minecraft.world.level.block.Blocks always(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/entity/EntityType;)Ljava/lang/Boolean;
# Block generating functs
public net.minecraft.world.level.block.Blocks woodenButton(Lnet/minecraft/world/level/block/state/properties/BlockSetType;)Lnet/minecraft/world/level/block/Block;
public net.minecraft.world.level.block.Blocks log(Lnet/minecraft/world/level/material/MapColor;Lnet/minecraft/world/level/material/MapColor;)Lnet/minecraft/world/level/block/Block;
public net.minecraft.world.level.block.Blocks leaves(Lnet/minecraft/world/level/block/SoundType;)Lnet/minecraft/world/level/block/Block;
# Block inits
public net.minecraft.world.level.block.TransparentBlock <init>(Lnet/minecraft/world/level/block/state/BlockBehaviour$Properties;)V
public net.minecraft.world.level.block.IronBarsBlock <init>(Lnet/minecraft/world/level/block/state/BlockBehaviour$Properties;)V
public net.minecraft.world.level.block.StairBlock <init>(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/block/state/BlockBehaviour$Properties;)V
public net.minecraft.world.level.block.PressurePlateBlock <init>(Lnet/minecraft/world/level/block/state/properties/BlockSetType;Lnet/minecraft/world/level/block/state/BlockBehaviour$Properties;)V
public net.minecraft.world.level.block.DoorBlock <init>(Lnet/minecraft/world/level/block/state/properties/BlockSetType;Lnet/minecraft/world/level/block/state/BlockBehaviour$Properties;)V
public net.minecraft.world.level.block.TrapDoorBlock <init>(Lnet/minecraft/world/level/block/state/properties/BlockSetType;Lnet/minecraft/world/level/block/state/BlockBehaviour$Properties;)V
public net.minecraft.world.level.block.SaplingBlock <init>(Lnet/minecraft/world/level/block/grower/TreeGrower;Lnet/minecraft/world/level/block/state/BlockBehaviour$Properties;)V
# Rendering type
public net.minecraft.client.renderer.RenderType$CompositeState
public net.minecraft.client.renderer.RenderStateShard
public net.minecraft.client.renderer.RenderStateShard$MultiTextureStateShard
public net.minecraft.client.renderer.RenderStateShard RENDERTYPE_END_PORTAL_SHADER
public net.minecraft.client.renderer.RenderType create(Ljava/lang/String;Lcom/mojang/blaze3d/vertex/VertexFormat;Lcom/mojang/blaze3d/vertex/VertexFormat$Mode;IZZLnet/minecraft/client/renderer/RenderType$CompositeState;)Lnet/minecraft/client/renderer/RenderType$CompositeRenderType;

# MOVE TO VECTOR IF EVER SEPERATED
public net.minecraft.server.level.ChunkMap$TrackedEntity

# NEOFORGE EXCLUSIVE
# Note Block enum sound event
public-f net.minecraft.world.level.block.state.properties.NoteBlockInstrument soundEvent
# Loot Pool Builder pools
public net.minecraft.world.level.storage.loot.LootTable$Builder pools